#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION  "IDE/ATAPI Port Driver"
#define REACTOS_STR_INTERNAL_NAME     "atapi"
#define REACTOS_STR_ORIGINAL_FILENAME "atapi.sys"
#include <reactos/version.rc>
